html { 
	height: 100%; 
}

body {
	height: 100%; margin: 0; padding: 0; 
	font-family: 'Microsoft YaHei','Î¢ÈíÑÅºÚ', Helvetica, Sans-serif;
  	font-size:12px;
}

.map-frame {
	margin: 0;
	padding: 0;
	height: 99%;
	width: 100%;
}

#map_canvas { 
	height: 100%; 
}

.cursor-path {
	cursor: url(../images/cursor_path.png);
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.panel {
	position: absolute;
	top: 5px;
	left: 50%;
	z-index: 5;
}

.traffic-window {
	min-width: 400px;
	min-height: 240px;
}

.top-bar {
	width: 700px;
	margin: 0 auto;
	z-index: 999;
}

.bottom-bar {
	position: absolute;
	bottom: 0px;
	left: 33.5%;
	margin: 0 auto;
}

.btn-signin {
	margin-top: 13px;
}

.btn-group + .btn-group {
	margin-left: 40px;
}

.left-bar {
	position: fixed;
	left: -270px;
	top: 10%;
	margin: 0;
	padding: 0;
	z-index: 5;
}

.left-bar .bar-body {
	float: left;
	width: 260px;
	height: 500px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 3px solid rgb(121, 121, 121);
	border-bottom: 3px solid rgb(121, 121, 121);
	border-right: 3px solid rgb(121, 121, 121);	background-color: #ffffff;
}

.left-bar .switch-bar {
	float: left;
	padding-top: 160px;
}

.bar-body .bar-top {
	height: 20px;
	padding: 0 5px;
	background-color: rgb(121, 121, 121);
}

.left-bar .bar-body .bar-wrapper {
	padding: 0 10px 10px 10px;
}

.bar-wrapper ul {
	list-style: none;
	padding: 0;
	margin: 0;
	min-height: 170px;
	border-bottom: 1px solid #dcdcdc;
	display: block;
}

.bar-wrapper .barli-first {
	border-bottom: 1px solid #dcdcdc;
	display: block;
}

.bar-wrapper .barli-first h1 {
	padding: 0;
	margin: 0;
	color: #1c3055;
	font-size: 22px;
	font-weight: 500;
	display: inline;
}

.bar-wrapper .barli-first #split {
	padding: 0 5px;
}

.bar-wrapper .barli-first b {
	font-size: 14px;
}

.bar-wrapper .li-img {
	display: block;
	width: 90px;
	height: 100px;
	borde: 1px solid #ccc;
	margin: 10px 10px 10px 0;
	float: left;
	background-image: url("../images/default.png");
}

.bar-wrapper .li-info {
	padding-top: 5px;
}

.bar-wrapper .li-info b {
	font-size: 14px;
}

.s-intro h4 {
	color: #1c3055;
	font-weight: 500;
}

.message-header {
	width: 280px;
	height: 15px;
	background-color: #252a23;
}

.message-content {
	width: 278px;
	min-height: 64px;
	position: relative;
	color: #1b1b1b;
	border-bottom-left-radius: 8;
	border-bottom-right-radius: 8;
	border-left: 1px solid #252a23;
	border-right: 1px solid #252a23;
	border-bottom: 1px solid #252a23;
	background-color: #ffffff;
}

.message-content h5 {
	margin: 0;
	padding: 0;
	color: #1e0c0f;
	font-size: 18px;
	display: inline;
}

.message-content p {
	margin: 0;
	padding: 0;
	font-size: 14px;
	word-break:break-all;
	display: inline;
}

.message-content b {
	margin: 0;
	padding: 0;
	color: #ff6a00;
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
}


.message-block {
	color: #1c3055;
	font-size: 20px;
	font-weight: 500;
}

.message-block input[type="text"] {
	background-color: #fff;
	border: 1px solid #ccc;
	display: inline-block;
	height: 30px;
	width: 280px;
	padding: 4px 10px 4px 10px;
	margin: 10px 0 10px 0;
	font-size: 14px;
	line-height: 30px;
	color: #555;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s,box-shadow linear .2s;
	transition: border linear .2s,box-shadow linear .2s;
}

.message-block input[type="text"]:focus  {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
}

.message-block button  {
	display: inline-block;
	*display: inline;
	padding: 4px 12px;
	margin-bottom: 0;
	*margin-left: .3em;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	*background-color: #e6e6e6;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
		to(#e6e6e6) );
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	*border: 0;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',
		endColorstr='#ffe6e6e6', GradientType=0 );
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false );
	*zoom: 1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
}

.message-block button:hover {
	color: #333333;
  	background-color: #e6e6e6;
  	*background-color: #d9d9d9;
}
/* modals */
.s-modal {
	width: 350px;
}

.s-modal .s-btns {
	padding-top: 10px;
}

.s-btns a {
	color: #aaa;
	text-align: right;
	margin-left: 15px;
}

.modal-header {
	background-color: rgb(50, 56, 54);
}

.modal-header h4 {
	color: rgb(107, 155, 184);
}

.s-modal input {
	margin: 5px 0;
}

.r-modal {
	width: 450px;
}

.r-modal input {
	margin: 5px 10px 5px 0;
}

.r-modal r-btns {
	padding-top: 15px;
}

/* GI Display InfoBubble */
.i-leisure {
	padding: 15px 10px 10px 10px;
	bcakground-color: #ccc;
}

.i-leisure h2 {
	padding-bottom: 5px;
	margin: 0;
	color: #1c3055;
	font-weight: 500;
	box-shadow: 0px 5px 12px -5px #1b1b1b;
}

.i-leisure ul {
	list-style: none;
	padding: 0;
}

.i-leisure li {
	font-size: 14px;
	font-color: rgb(39, 41, 35);
}

.i-leisure img {
	width: 90px;
	height: 100px;
}

.i-leisure .li-img {
	display: block;
	width: 90px;
	height: 100px;
	borde: 1px solid #ccc;
	margin-right: 25px;
	float: left;
	background-image: url("../images/default.png");
}

.i-leisure .li-detail {
	float: right;
	margin-top: 20px;
}



















